.navbar{
  overflow: hidden;
  position: relative; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

.logo{
   padding: 10px;
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; /* Full width */
}

.welcome-container{
  text-align: center
}

.form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px #444;

  background-color: #FFF
}

.listing-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px #444;

  background-color: #FFF;

  text-overflow: ellipsis;
  overflow: hidden;
}
